extends layout

block page_title
  title Это титул

block greeting
  h1 Привет мир

block software_engineer
  p Скоро Я буду софтвар инженер
  img(src="/images/earth.jpg" alt="Планета Земля" title="Планета Земля")