doctype html

html
  head
    title This is Title
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/app.css")
  body
    header
      h1 Hello Adele!
    main
      p I am software
      img(src="/images/earth.jpg" alt="The Earth" title="The Earth")